<!DOCTYPE html>
<html>
<head>
  <title>ESPACIO SALVAJE</title>
  <link href="https://fonts.googleapis.com/stylesheets?family=Roboto" rel="stylesheet"> 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <div class="jumbotron jumbotron-fluid" style="padding:0px;">
    <header>
      <%= render "partials/navigation" %>
    </header>
    <p class="notice" style="display:none;"><%= notice %></p>
    <p class="alert" style="display:none;"><%= alert%></p>
  </div>
  <%= yield %>
</body>
</html>
